<!DOCTYPE html>
<html>
<head>
    <title>Test Form</title>
</head>
<body>

<h1>User Form</h1>

<form method="POST">

    <label>Name</label>
    <input id="name" name="name" type="text">

    <br><br>

    <label>Age</label>
    <input id="age" name="age" type="number">

    <br><br>

    <label>Birth Date</label>
    <input id="birth_date" name="birth_date" type="date">

    <br><br>

    <label>Email</label>
    <input id="email" name="email" type="email">

    <br><br>

    <button id="save-btn" type="submit">
        Save
    </button>

</form>

</body>
</html>